In [3]:
import pandas as pd

In [4]:
raw_data_path = "../data/raw/analysis.csv"

In [5]:
df = pd.read_csv(raw_data_path)

In [6]:
df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237650e+18,48.824760,-8.166999,19.44393,18.43291,18.11620,17.98857,17.95942,1045,301,1,98,3.587172e+18,STAR,-0.000996,3186,54853,201
1,1.237658e+18,193.394684,52.336221,22.41654,22.09867,20.53718,19.63900,19.28375,2830,301,4,454,7.513333e+18,GALAXY,0.518672,6673,56419,739
2,1.237679e+18,324.020999,10.000606,19.49719,17.58264,16.66178,16.18781,15.85648,7777,301,5,87,4.608454e+18,GALAXY,0.077720,4093,55475,530
3,1.237666e+18,234.965903,23.031949,24.31149,21.99310,20.58364,19.76995,19.39575,4671,301,5,41,4.445071e+18,GALAXY,0.471659,3948,55331,66
4,1.237665e+18,170.706066,35.630196,25.61850,24.86680,21.37659,19.77067,19.26844,4504,301,1,94,5.199500e+18,GALAXY,0.720088,4618,55600,343
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.237658e+18,181.269532,51.273043,18.50853,17.65012,17.27569,16.85724,16.74033,2830,301,1,404,9.930663e+17,GALAXY,0.086213,882,52370,82
9996,1.237668e+18,209.743620,19.894152,22.99436,22.08630,20.23164,19.36716,18.90923,5194,301,2,618,6.607022e+18,GALAXY,0.444164,5868,56045,879
9997,1.237662e+18,177.389727,6.270422,19.52580,17.92479,17.11512,16.69188,16.42343,3841,301,1,84,1.825122e+18,GALAXY,0.072649,1621,53383,139
9998,1.237668e+18,217.297701,15.970520,21.95136,20.81498,19.93374,19.41501,19.25114,5326,301,6,113,6.154330e+18,QSO,1.783821,5466,56033,584
9999,1.237666e+18,222.865185,19.616170,22.84665,21.87292,20.28989,19.38881,18.89610,4678,301,2,143,6.646445e+18,GALAXY,0.499425,5903,56064,939

In [16]:
# visÃ£o geral
print(f"Shape: {df.shape}\n\n")        # (100000, 18)

print("########## DTYPES ##########")
print(df.dtypes)       # tipos de cada coluna

print("\n\n########## VALUE COUNTS ##########")
print(df['class'].value_counts())  # distribuiÃ§Ã£o das classes

print("\n\n########## COUNT NaNs ##########")
print(df.isna().sum())             # contagem de valores faltantes

print("\n\n########## DESCRIBE ##########")
display(df.describe())               # estatÃ­sticas descritivas das colunas numÃ©ricas

Shape: (10000, 18)


########## DTYPES ##########
obj_ID         float64
alpha          float64
delta          float64
u              float64
g              float64
r              float64
i              float64
z              float64
run_ID           int64
rerun_ID         int64
cam_col          int64
field_ID         int64
spec_obj_ID    float64
class           object
redshift       float64
plate            int64
MJD              int64
fiber_ID         int64
dtype: object


########## VALUE COUNTS ##########
class
GALAXY    5945
STAR      2159
QSO       1896
Name: count, dtype: int64


########## COUNT NaNs ##########
obj_ID         0
alpha          0
delta          0
u              0
g              0
r              0
i              0
z              0
run_ID         0
rerun_ID       0
cam_col        0
field_ID       0
spec_obj_ID    0
class          0
redshift       0
plate          0
MJD            0
fiber_ID       0
dtype: int64


########## DESCRIBE ##########

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000
mean,1.237665e+18,176.413341,24.072838,22.057796,20.612774,19.628704,19.065712,18.754885,4481.871500,301.0,3.515500,183.364000,5.777500e+18,0.581698,5131.341200,55590.078000,448.176600
std,8.432263e+12,96.756173,19.667583,2.241957,2.039581,1.862932,1.760867,1.778200,1963.298966,0.0,1.590916,146.992926,3.301292e+18,0.749837,2932.120447,1795.522704,273.548417
min,1.237646e+18,0.044805,-17.573820,13.947160,11.745180,10.863790,10.566470,10.778890,109.000000,301.0,1.000000,11.000000,2.996469e+17,-0.005675,266.000000,51608.000000,1.000000
25%,1.237659e+18,126.763327,5.254813,20.323692,18.946545,18.076622,17.690020,17.425365,3184.750000,301.0,2.000000,80.000000,2.889124e+18,0.056119,2566.000000,54243.000000,218.000000
50%,1.237663e+18,180.490960,23.456502,22.178960,21.060670,20.086700,19.370560,18.973020,4188.000000,301.0,4.000000,144.000000,5.627958e+18,0.412175,4998.500000,55888.000000,428.000000
75%,1.237668e+18,232.391345,39.911293,23.687152,22.132447,21.039848,20.367310,19.889990,5330.000000,301.0,5.000000,236.000000,8.248439e+18,0.697583,7326.000000,56748.000000,645.000000
max,1.237681e+18,359.993568,83.000519,29.325650,27.414650,29.571860,32.141470,28.790550,8162.000000,301.0,6.000000,977.000000,1.412675e+19,7.011245,12547.000000,58932.000000,1000.000000